/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
    background: url(border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
    opacity: 0.3;

    border: solid red 2px;

    background-color: #ec999936;
}

.imgareaselect-handle {
    background-color: #fff;
    border: transparent 1px;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    border-color: transparent;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {  
}